[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
rundev = "pipenv run uvicorn app.main:app --debug --host 0.0.0.0"
runprod = "pipenv run gunicorn app.main:app -w 4 -k uvicorn.workers.UvicornWorker -b 0.0.0.0"

[packages]
fastapi = "*"
"uvicorn[standard]" = "*"
pydantic = "*"
gunicorn = "*"
boto3 = "*"
pillow = "*"

[dev-packages]
black = "*"
pylint = "*"
"boto3-stubs[essential]" = "*"
"boto3-stubs[sagemaker-runtime]" = "*"
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
